* text=auto
*.md text eol=lf
*.txt text eol=lf
*.py text eol=lf
*.rs text eol=lf
*.toml text eol=lf
tok.lock text eol=lf
*.tok text eol=lf
*.yml text eol=lf
*.c text eol=lf
*.cpp text eol=lf
*.go text eol=lf
*.java text eol=lf
*.ts text eol=lf
*.tok linguist-language=Tokit
*.json text eol=lf
